---
# Playbook: delete-test-folder.yml
# Description: Safely deletes contents of a specified test folder
# Usage: ansible-playbook playbooks/delete-test-folder.yml -e "target_folder=/path/to/folder"

- name: Delete test folder contents
  hosts: all
  become: true

  vars:
    target_folder: "/home/fuhlig/test"

  tasks:
    - name: Verify target folder exists
      ansible.builtin.stat:
        path: "{{ target_folder }}"
      register: folder_stat

    - name: Fail if target folder does not exist
      ansible.builtin.fail:
        msg: "Target folder '{{ target_folder }}' does not exist"
      when: not folder_stat.stat.exists

    - name: Find all items in target directory
      ansible.builtin.find:
        paths: "{{ target_folder }}"
        file_type: any
        hidden: true
        recurse: false
      register: folder_contents

    - name: Display items to be deleted
      ansible.builtin.debug:
        msg: "Found {{ folder_contents.matched }} items to delete in {{ target_folder }}"

    - name: Remove all contents from target folder
      ansible.builtin.file:
        path: "{{ item.path }}"
        state: absent
      loop: "{{ folder_contents.files }}"
      loop_control:
        label: "{{ item.path | basename }}"
      when: folder_contents.matched > 0

    - name: Display completion status
      ansible.builtin.debug:
        msg: "Successfully deleted {{ folder_contents.matched }} items from {{ target_folder }}"
      when: folder_contents.matched > 0

    - name: Display empty folder message
      ansible.builtin.debug:
        msg: "No items found in {{ target_folder }}"
      when: folder_contents.matched == 0
