---
- name: Delete folder contents
  hosts: all
  vars:
    target_folder: "/home/fuhlig/test"

  tasks:
    - name: Find all items in the directory
      ansible.builtin.find:
        paths: "{{ target_folder }}"
        file_type: any
        hidden: yes
        recurse: yes
      register: folder_contents

    - name: Display items to be deleted
      ansible.builtin.debug:
        msg: "Found {{ folder_contents.matched }} items to delete"

    - name: Remove all contents
      ansible.builtin.file:
        path: "{{ item.path }}"
        state: absent
      loop: "{{ folder_contents.files }}"
      when: folder_contents.matched > 0
